<%= form_for(@finance) do |f| %>
  <% if @finance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

      <ul>
      <% @finance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quote_id %><br>
    <%= f.collection_select :quote_id, Quote.all, :id, :quote_info %>
  </div>
  <div class="field">
    <%= f.label :Loan %><br>
    <%= f.text_field :principal_by_pay %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :interest_rate %><br>
    <%= f.text_field :interest_rate %>
  </div>
  <div class="field">
    <%= f.label :Years %><br>
    <%= f.select :payments, [['3', '3'],['4', '4'],['5', '5']]%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<!-- Table will be inserted here -->
<div id="amortization-table" class="table-format"></div>