<p id="notice"><%= notice %></p>

<h1>Listing Finances</h1>

<table>
  <thead>
    <tr>
      <th>Quote</th>
      <th>Principal by pay</th>
      <th>Date</th>
      <th>Interest rate</th>
      <th>Payments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finances.each do |finance| %>
      <tr>
        <td><%= finance.quote_id %></td>
        <td><%= finance.principal_by_pay %></td>
        <td><%= finance.date %></td>
        <td><%= finance.interest_rate %></td>
        <td><%= finance.payments %></td>
        <td><%= link_to 'Show', finance %></td>
        <td><%= link_to 'Edit', edit_finance_path(finance) %></td>
        <td><%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finance', new_finance_path %>
