<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @finance.quote_id %>
</p>

<p>
  <strong>Principal by pay:</strong>
  <%= @finance.principal_by_pay %>
</p>

<p>
  <strong>Date:</strong>
  <%= @finance.date %>
</p>

<p>
  <strong>Interest rate:</strong>
  <%= @finance.interest_rate %>
</p>

<p>
  <strong>Payments:</strong>
  <%= @finance.payments %>
</p>
<%= render 'loans_table' %>
<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
