<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id%><br>
    <%= f.collection_select :customer_id, Customer.all, :id, :cus_info %>
  </div>
  <div class="field">
    <%= f.label :employee_id%><br>
    <%= f.collection_select :employee_id, Employee.all, :id, :emp_info %>
  </div>
  <div class="field">
    <%= f.label :inventory_id %><br>
    <%= f.collection_select :inventory_id, Inventory.all, :id, :car %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, [['Not Ready to Sell'],['Ready to Sell'],['Sold.Partial Payment'],['Sold. Paid in Full']] %>
  </div>
  <div class="field">
    <%= f.label :date_made %><br>
    <%= f.date_select :date_made %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
