<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.cus_info %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.employee.emp_info %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @quote.inventory.car %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quote.status %>
</p>

<p>
  <strong>Date made:</strong>
  <%= @quote.date_made %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
