<p id="notice"><%= notice %></p>
<!--search bar form-->
<%= form_tag(inventories_path, :method => "get", class: "navbar-form", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Inventory" %>
      <%= submit_tag "Search", :name => nil %>
    </div>
<% end %>

<h1>Listing Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Color</th>
      <th>Vin</th>
      <th>Year</th>
      <th>Wholesale price</th>
      <th>Retail price</th>
      <th>On hand quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.make %></td>
        <td><%= inventory.model %></td>
        <td><%= inventory.color %></td>
        <td><%= inventory.vin %></td>
        <td><%= inventory.year %></td>
        <td><%= inventory.wholesale_price %></td>
        <td><%= inventory.retail_price %></td>
        <td><%= inventory.on_hand_quantity %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
