/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Changes background color*/
body {
    background-color:  #00CC99;
}
/*Changes heading one font to times new roman*/
H1 {
    font-family: "Times New Roman", Times, serif;
    color: #FFFFFF;
}
/*formats the table on the index pages*/
table, th, td{
    border: 1px solid black;
    padding: 10px;
    background-color: #707070;
    color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 5px #888888;
}
th{background-color: #FF0033;}
/*centers text in table*/
tr{
    text-align:center;
}
/*changes header */
#heading {
    padding-top: 2px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    background-color: #707070;
    text-align:center;
    font-family: " Copperplate Gothic Light", serif;
    font-size: 25px;
}
/*removes underline from hyperlinks*/
a {
    text-decoration: none;
}
/*keeps hyperlinks the color black*/
a:link {
    color: #000000;
}
/*keeps hyperlink black when it is visited*/
a:visited {
    color: #000000;
}
/*changes the hyperlink white whenever a user hovers the mouse over it*/
a:hover {
    color: #FFFFFF;
}
/*changes the hyperlink blue when it is clicked*/
a:active {
    color: #0000FF;
}