<!DOCTYPE html>
<html>
<head>
  <title>Ronda's Custom Cars</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="heading">
  <H1>Ronda's Custom Cars</H1>
  <%= link_to "Employee", employees_path %>
  <%= link_to "Customers", customers_path %>
  <%= link_to "Inventory", inventories_path %>
  <%= link_to "Quotes", quotes_path %>
  <%= link_to "Finances", finances_path %>
</div>

<%= yield %>

</body>
</html>
